openapi: 3.2.0
info:
  title: Apple Keynote iCloud Export Themes API
  description: The Apple Keynote iCloud API provides programmatic access to Keynote presentations stored in iCloud. It enables creating, reading, updating, and exporting presentations, slides, and their elements. This specification is generated from Apple documentation and iCloud web interface analysis.
  version: 1.0.0
  contact:
    name: Apple Developer Support
    url: https://developer.apple.com/contact/
  x-generated-from: documentation
servers:
- url: https://p00-keynote.icloud.com
  description: Apple iCloud Keynote server
tags:
- name: Themes
  description: Presentation themes and templates
paths:
  /themes:
    get:
      operationId: listThemes
      summary: Apple Keynote List Themes
      description: Returns the list of available Keynote themes and templates.
      tags:
      - Themes
      responses:
        '200':
          description: Themes returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemeList'
              examples:
                ListThemes200Example:
                  summary: Default listThemes 200 response
                  x-microcks-default: true
                  value:
                    themes:
                    - name: White
                      identifier: com.apple.themes.white
                      category: Basic
                    - name: Black
                      identifier: com.apple.themes.black
                      category: Basic
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ThemeList:
      title: ThemeList
      description: A list of available Keynote themes
      type: object
      properties:
        themes:
          type: array
          items:
            $ref: '#/components/schemas/Theme'
    Theme:
      title: Theme
      description: An Apple Keynote theme for styling presentations
      type: object
      properties:
        name:
          type: string
          description: The display name of the theme
          example: White
        identifier:
          type: string
          description: The unique theme identifier
          example: com.apple.themes.white
        category:
          type: string
          description: The theme category
          example: Basic
        colorScheme:
          type: array
          items:
            type: string
          description: Primary colors in the theme
          example:
          - '#FFFFFF'
          - '#000000'
